{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Urlkey</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.title }}</td>
                <td>{{ category.urlKey }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.image }}</td>
                <td>
                    <ul>
                        {#{ dump(is_granted('view',category)) }#}
                        {#% if (is_granted('view',category))  %#}
                        <li>
                            <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        {#% endif %#}

                        {% if (is_granted('edit',category))  %}
                        <li>
                            <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>{% for category in categories %}
            {% if (is_granted('edit',category))  %}
                <li>
                    <a href="{{ path('category_new') }}">Create a new category</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
