{% extends 'base.html.twig' %}
{% block body %}
	<!-- top Products -->
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="privacy about">
				<h3>Chec<span>kout</span></h3>

				<div class="checkout-right">
					<h4>Your shopping cart contains: <span>3 Products</span></h4>
					<form action="{{ path('foggyline_sales_cart_update')}}"  method="post">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>			
								<th>Price</th>
								<th>SubTotal</th>

								<!--th>Remove</th-->
							</tr>
						</thead>
						<tbody>
							
						 {% for item in items %}
						
							<tr class="rem1">
								<td class="invert">1</td>
								<td class="invert-image"><a href="single.html"><img  src="{{ asset('uploads/foggyline_catalog_images/' ~ item.product.image) }}" alt=" " class="img-responsive"></a></td>
								<td class="invert">
									<div class="quantity">
										<input name="item[{{ item.id }}]" value="{{ item.qty }}"/>
										<!--div class="quantity-select">
											<div class="entry value-minus">&nbsp;</div>
											<input name="item[{#{ item.id }#}]" value="{#{ item.qty }#}"/>
											<div class="entry value-plus active">&nbsp;</div>
										</div-->
									</div>
								</td>
								<td class="invert">{{item.product.title}}</td>
								<td class="invert">${{item.product.price}}</td>
								<td class="invert">${{item.product.price * item.Qty}}</td>
								<!--td class="invert">
									<div class="rem">
										<div class="close1"> </div>
									</div>
								</td-->
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div ="update-button">
						<button type="submit" class="button">Update Cart</button>
					</div>
					</form>
				</div>
				
				<div class="checkout-left">
					<div class="col-md-4 checkout-left-basket">
						<h4>Continue to basket</h4>
						<ul>
							<!--li>Product1 <i>-</i> <span>$675.00 </span></li>
							<li>Product2 <i>-</i> <span>$325.00 </span></li>
							<li>Product3 <i>-</i> <span>$405.00 </span></li>
							<li>Total Service Charges <i>-</i> <span>$55.00</span></li-->
							<li>Total <i>-</i> <span>{{ total }}</span></li>
							<div><a href="{{ path('foggyline_sales_checkout') }}"
								class="button">Go to Checkout</a></div>
							</div>
						</ul>
					</div>
                    <div class="col-md-8 address_form">
						<h4>Add a new Details</h4>
						{{ dump(shipping_methods) }}
						<form action="{{ path('foggyline_sales_checkout_payment')  }}" method="post" class="creditly-card-form agileinfo_form">
							<section class="creditly-wrapper wrapper">
								<div class="information-wrapper">
									<div class="first-row form-group">
										<div class="controls">
											<label class="control-label">First Name: </label>
                                            {{ form_widget(shipping_address_form.address_first_name) }}
    									</div>
                                        <div class="controls">
											<label class="control-label">Last Name: </label>
                                            {{ form_widget(shipping_address_form.address_last_name) }}
    									</div>
                                        <div class="controls">
											<label class="control-label">Mobile number: </label>
                                            {{ form_widget(shipping_address_form.address_telephone) }}
    									</div>
                                        <div class="controls">
											<label class="control-label">Adress Country: </label>
                                            {{ form_widget(shipping_address_form.address_country) }}
    									</div>
                                        <div class="controls">
											<label class="control-label">Adress State: </label>
                                            {{ form_widget(shipping_address_form.address_state) }}
    									</div>
                                        <div class="controls">
											<label class="control-label">Adresse City: </label>
                                            {{ form_widget(shipping_address_form.address_city) }}
    									</div>
                                        <div class="controls">
											<label class="control-label">Adress Post Code </label>
                                            {{ form_widget(shipping_address_form.address_postcode) }}
    									</div>
										<div class="controls">
											<label class="control-label">Adress Street </label>
                                            {{ form_widget(shipping_address_form.address_street) }}
 				   						</div>

									</div>
									<div class="shipping-method">
									    <h4>Shipping Methods</h4>
										<ul>
											{% for method in shipping_methods %}
											{% set shipment = method.getInfo('street', 'city', 'country', 'postcode', 'amount', 'qty')['shipment'] %}
												<label>{{ shipment.title }}</label>

											<li>
													{% for delivery_option in shipment.delivery_options %}
												<ul>
														<input type="radio" name="shipment_method" value="{{ shipment.code }}____{{ delivery_option.code }}____{{ delivery_option.price }}"> {{ delivery_option.title }}
																({{ delivery_option.price }})
												</ul>
												{% endfor %}
											</li>
											{% endfor %}
										</ul>
								     </fieldset>
									<button class="submit check_out">Make a Payment</button>
								</div>
							</section>

	
						</form>
						<div class="checkout-right-basket">
							<a href="">Make a Payment </a>
						</div>
					</div>

					<div class="clearfix"> </div>
					<div class="clearfix"> </div>


				</div>
			</div>
		</div>
		<!-- //top products -->


			<div class="clearfix"> </div>
		</div>
	</div>    
    <script type="text/javascript">
    console.log(5);
      /*  var form = document.getElementById('shipping_form');
        document.getElementById('shipping_form_submit').addEventListener('click', function () {
            form.submit();
        });*/
    </script>
{% endblock %}